# Sublime Text
*.sublime-workspace
*.sublime-project

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
desktop.ini

.env
.env.local

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.map